Some values potentially missing from the IANA Field Name Registry

I just noticed that the following values are missing from the [IANA Field Name Registry](https://www.iana.org/assignments/http-fields/http-fields.xhtml):
* `Connection`
* `Proxy-Connection`
* `Upgrade `

Interestingly, all three are mentioned in [RFC7540 Section 8.1.2.2](https://datatracker.ietf.org/doc/html/rfc7540#section-8.1.2.2) but only `Connection` and `Upgrade` are mentioned in [SEMANTICS](https://datatracker.ietf.org/doc/html/draft-ietf-httpbis-semantics-19#section-18.4). I suspect that this is because `Proxy-Connection` was never formally specified, but since it appears in 7540 we might want to document it as reserved or deprecated?

Is the omission of `Connection` and `Upgrade` from the IANA registry intentional?