RFC 7231: Structure "Considerations for New Header Fields"

In RFC 7231, Section 8.3.1, structure the considerations for request/response/both.


Looking at the current list this doesn't seem to be that useful.

Closing this (as I was the one who opened it anyway).