Content-Length is weird

We use C-L for message delimitation in 1.1, but it's also used in all versions as a hint as to how long the payload is (or would be) -- especially valuable in request handling, so a server can decide whether or not to `413`.

We also forbid C-L in 1.1 messages that use any transfer-coding, to avoid confusion about delimitation (e.g., message smuggling). However, that leaves 1.1 senders with an awkward choice -- use transfer-coding to delimit and lose the ability to hint how big the payload is going to be, or use C-L and lose the ability to transfer trailers.

Furthermore, [h2 allows C-L in messages](https://httpwg.org/specs/rfc7540.html#malformed); it requires the number of octets sent to match C-L (otherwise the message is "malformed"), but there are easy-to-imagine scenarios where this is discovered far too late to be acted upon.

Having the protocol's capabilities change based upon what delimitation mechanism you use is not friendly, and different approaches to request smuggling prevention is suboptimal.

I think there are a few (not mutually exclusive) things we could do to improve this:

* [ ] Defining a new header that carries an _advisory_ anticipated payload length, decoupled from delimitation, that `413`, progress bars and other consumers could use
* [ ] Changing the requirements around smuggling prevention in 1.1 to only apply when a message transitions to C-L delimitation, rather than being a blanket prohibition -- and then adjusting h2 to match that.

Thoughts?

(some testing would be necessary to see how viable the second approach would be on the deployed Web; the first one should be backwards-compatible).

Relevant [text from h2](https://httpwg.org/specs/rfc7540.html#malformed):

> A request or response that includes a payload body can include a content-length header field. A request or response is also malformed if the value of a content-length header field does not equal the sum of the DATA frame payload lengths that form the body. A response that is defined to have no payload, as described in [RFC7230], Section 3.3.2, can have a non-zero content-length header field, even though no content is included in DATA frames.

> Intermediaries that process HTTP requests or responses (i.e., any intermediary not acting as a tunnel) MUST NOT forward a malformed request or response. Malformed requests or responses that are detected MUST be treated as a stream error (Section 5.4.2) of type PROTOCOL_ERROR.

> For malformed requests, a server MAY send an HTTP response prior to closing or resetting the stream. Clients MUST NOT accept a malformed response. Note that these requirements are intended to protect against several types of common attacks against HTTP; they are deliberately strict because being permissive can expose implementations to these vulnerabilities.




@martinthomson any thoughts from an h2 perspective?

I like the idea of a new header field.

Discussed in Basel. I'm going to write an I-D for a new header (name TBBikeshedded), and put this on hold until then (we may be able to incorporate).

Adjusting the requirements for anti-smuggling is probably off the table for now; allowing more would reduce defence in depth (even if I have questions about how realistic the h2 requirements are).

Let's be clear, the reason for the weird restriction in h2 was to ensure that confusion would not result in truncation or worse.  And forbidding it would have made proxying harder (but then we made that call before we required that proxies strip Connection and friends, IIRC).  The fact that you can only detect an error very late in the process is a reason that you can't rely on enforcement, only that you can't reliably create confusion.

Including Content-Length is just weird, but people do it either because they have it and to remove header fields *seems wrong* or because they want to enable the progress bar.

Making 1.1 and 2 similar seems about right, but I don't know that you can based on this.  You can't add Content-Length to a chunked encoded thing, and you can't really prohibit it from use in h2.

Rather than try to fix those protocols, we could say that it is prohibited in h3 and then move on.

Straw-man spec: https://mnot.github.io/I-D/bikeshed-length/

Signaling anticipated length unambiguously across protocol versions seems useful, but it would also be useful to clarify the meaning of `Content-Length` going forward. E.g., forbidding it as @martinthomson suggests.

I'm sympathetic to the motivation behind forbidding it (people with 1.0 hops _really_ need to move on), but I do wonder whether having another gratuitous difference between 2 and 3 will cause more harm than it prevents.

Next steps: I want to get more reactions on the draft to judge interest; I think the chances of incorporating it into core are fairly low, but I won't close quite yet. 

You are right to be concerned about the effect of outright prohibition. I am perfectly happy with what h2 says here if we can't get up the gumption to prohibit it. As you say, when this hits a 1.x hop, having a value means that you don't have to choose between buffering the entire message or sending Connection: close.

Discussed in the May 2020 virtual interim. Sense was that this should live as a separate draft, at least for the time being; if it's clear that merging it into core is desirable before we ship, we can reopen.