.onion names

Note the requirements in RFC6761 regarding .onion names in RFC7230bis Sections 2.7.1 and 2.7.2.


The requirements in 6761 are on DNS as a name space, which HTTP does indeed use, even if HTTP does not always use the DNS protocol to interact with that name space.

The applicable requirement:

> Applications that do not implement the Tor protocol SHOULD generate an error upon the use of .onion and SHOULD NOT perform a DNS lookup.

HTTP does not perform DNS lookups, nor is HTTP an application that uses DNS. The requirement in RFC7686 of

   2.  Application Software: Applications (including proxies) that
       implement the Tor protocol MUST recognize .onion names as special
       by either accessing them directly or using a proxy (e.g., SOCKS
       [RFC1928]) to do so.  Applications that do not implement the Tor
       protocol SHOULD generate an error upon the use of .onion and
       SHOULD NOT perform a DNS lookup.

is not an HTTP requirement. It is an RFC7686 requirement that might apply to an application when it chooses whether or not to perform a DNS lookup, regardless of HTTP.  HTTP does not restate every applicable requirement of the IETF.

If we were to add an HTTP-specific requirement about that, it would most likely be in the area of making requests to a proxy (e.g., full URI as request-target or domain in CONNECT). However, that doesn't seem to be intended by the quoted paragraph's "including proxies". More information is needed.

7686 is specifically thinking of http clients with that requirement.

In order to make core maximally useful as a document set we should
acknowledge that reality.

On Tue, Nov 6, 2018 at 5:45 AM Roy T. Fielding <notifications@github.com>
wrote:

> HTTP does not perform DNS lookups, nor is HTTP an application that uses
> DNS. The requirement in RFC7686 of
>
>    1. Application Software: Applications (including proxies) that
>    implement the Tor protocol MUST recognize .onion names as special
>    by either accessing them directly or using a proxy (e.g., SOCKS
>    [RFC1928]) to do so. Applications that do not implement the Tor
>    protocol SHOULD generate an error upon the use of .onion and
>    SHOULD NOT perform a DNS lookup.
>
> is not an HTTP requirement. It is an RFC7686 requirement that might apply
> to an application when it chooses whether or not to perform a DNS lookup,
> regardless of HTTP. HTTP does not restate every applicable requirement of
> the IETF.
>
> If we were to add an HTTP-specific requirement about that, it would most
> likely be in the area of making requests to a proxy (e.g., full URI as
> request-target or domain in CONNECT). However, that doesn't seem to be
> intended by the quoted paragraph's "including proxies". More information is
> needed.
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/httpwg/http-core/issues/10#issuecomment-436064178>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAP5s61-WBNKDExkthW7RfTbeh99chFDks5usL-bgaJpZM4GpuQW>
> .
>


How?  As a security consideration, perhaps?

HTTP is at both sides of that paragraph: it can be used to access such resources via a Tor proxy and it can be used to attempt access via proxies by clients that simply have no knowledge of Tor. Plus, HTTP can be used to perform DNS lookups. These are all things that applications can do with HTTP. But the requirement is on what applications do, not on HTTP.

People use HTTP to do everything from turning on lights to closing garage doors to starting their car to downloading cat pictures. If we have to include warnings for everything that HTTP is used to do, this is going to be a veeeeeerrrrrryyyy long spec.

I would recommend adding a note in the security considerations section stating that some special-use domain names such as .onion need to be treated specially by applications such as HTTP clients and servers. I would add a reference to the IANA registry: https://www.iana.org/assignments/special-use-domain-names/special-use-domain-names.xhtml

Discussed in Bangkok; sense was to reference special names more generally, after some coordination with DNSOP.

Raised with DNSOP:
  https://mailarchive.ietf.org/arch/msg/dnsop/W2L4cC3lo5bK3iX4i_84_csZ_9g

So this says that my implementation is required not to send a DNS query for a .onion name. That name is a special-use name that defines this rule.  That's something I can do today, but if there is another special use name added in the future, after my implementation ships, that makes my implementation non-compliant.

Yeah, lowercase "required" means that I'm not violating a 2119-level requirement, but it's a bit of a minefield.

@martinthomson that's true of all new Special-Use Domain Names. When they are added, old code can sometimes be made non-compliant. Adding one requires IETF Standards Action or IESG Approval (see RFC6761 s5), and the expectation is that this review will think about the consequences on old software. When .onion was introduced, several browsers were non-compliant but it was the impetus for some of them to fix their code to become compliant.

I would personally replace the lowercase "requires" with 2119 normative text.

Yeah, I guess that implicit in all of this is that special-use names are not added.

Proposal from Joe Abley on the DNSOP list:

> Resolution of the authority field MUST adhere to any special requirements documented in the Special-Use Domain Names registry [ref] which might specify that some protocol other than DNS be used for resolution for names within a particular domain. If those special requirements are not honoured diligently, security, privacy and interoperability problems might well result.
>
> For example, consider the authority field EXAMPLE.LOCAL, intended to resolve to an address on a local, private network using the Multicast DNS resolution protocol [RFC6762]. If the DNS was used as a resolution protocol, the existence of the local-scope name EXAMPLE.LOCAL and this particular instance of its use might be revealed to third-party DNS servers; there is also a risk that attacks on the DNS system outside the local network could cause the EXAMPLE.LOCAL name to be resolved to an external, third-party address with attendant risks to privacy and security for higher-layer protocols and the application itself. Such risks are avoided by ensuring that resolution of names in the LOCAL domain are only attempted by the application using the Multicast DNS protocol.

Is there not a DNS document to refer to for resolution requirements instead of adding lots of text to HTTP?

[RFC6761](https://tools.ietf.org/html/rfc6761), looks like.  However, this seems like just Security Considerations text that points out an existing requirement with examples of things that might break if you ignore it.  I don't think the proposed text is unreasonable.

After some more wordsmithing, here is what I have so far:

12.9. Disclosure of Information through DNS Requests

Many implementations use the Domain Name System (DNS) [RFC1035] to resolve the authority in URIs. DNS requests expose the user's activity to recipients of those requests and to any network observers capable of viewing or distinguishing the names being resolved, especially when that request traffic is unencrypted. Because Web browsing often includes resolving many hosts to load a page, in a pattern that might be unique to a page or even unique to a specific user, DNS request traffic can disclose a substantial amount of information. These privacy considerations are further described in [RFC7626].

Possible mitigations include the use of encrypted DNS protocols, such as [RFC8484], and services that deliberately mask or intermix individual resolution requests within a larger population.

Furthermore, authority name resolution needs to adhere to the special requirements documented in the Special-Use Domain Names registry [RFC6761], which might specify that some protocol other than DNS be used for resolution of names within certain domains. Security, privacy, and interoperability problems might result if those special requirements are not honored.

LGTM.