Transfer-Encoding header on 1xx, 204, 304 response

RFC 7230, section 3.3.3 forbids a response body when the status code is 1xx, 204, or 304. But it makes no mention of a `Transfer-Encoding` header on a response that cannot contain a message body. Is a `TE` header on a bodyless response permissible?

An answer to the question should clarify what a client is to do with the connection when a `TE` header is seen on a 1xx/204/304 response. @tombergan [reported](https://go-review.googlesource.com/c/go/+/71910#message-c40eef04c08f6492e195fc07bba624522aa54e50) that chrome will keep the connection open for reuse, while node.js will close the connection. Closing the connection avoids the ambiguity in handling follow up requests over the same connection, and might protect against response splitting attacks. However, it seems overly defensive to close the connection because the server may be about to invalidate the response by sending a body, even though the response is perfectly valid at the point the connection is being closed.

See golang/go#22330 for more context.

Any clarification required here, or can we close with no action?

nope, the section @reschke pointed out answered my question.