Parsing content after a 204 response

When data is written to a connection following a 204 response, the user agent may interpret the data as it pleases. In web browsers today, this means:

- The Chromium and Edge web browsers will inspect the first 4 bytes for the
  start of a valid HTTP response. If found, they will parse the data that
  follows as a new response (and if any of those first four bytes bytes are
  invalid they will be discarded). If more than four invalid bytes are
  encountered, the browsers abort parsing and interpret the data as a
  HTTP/0.9 response. This is consistent with their general response parsing
  behavior (i.e. without a preceding a 204 response)
- The Firefox web browser may inspect 1 kilobyte of data or more (the exact
  number has been variable in my testing) for a valid response. If found, it
  will discard any preceding invalid data. This tolerant behavior is only
  observable following a 204 response; otherwise, Firefox seems to parse in the
  same way as Chromium and Edge.
- the Safari web browser, upon receiving any invalid data, makes no attempt to
  recover and discards the remaining data

This variation has led to instability in automated tests written for [the Web Platform Tests project](https://github.com/w3c/web-platform-tests)--see [issue 5037](https://github.com/w3c/web-platform-tests/pull/5037).

I originally reported this inconsistency in [issue 5227](https://github.com/w3c/web-platform-tests/pull/5227), where @mnot provided the following context (from [RFC7230 section 3.3.3](http://httpwg.org/specs/rfc7230.html#message.body.length)):

> If the final response to the last request on a connection has been completely
> received and there remains additional data to read, a user agent MAY discard
> the remaining data or attempt to determine if that data belongs as part of
> the prior response body, which might be the case if the prior message's
> Content-Length value is incorrect. A client MUST NOT process, cache, or
> forward such extra data as a separate response, since such behavior would be
> vulnerable to cache poisoning.

Mark followed up by saying:

> What I think's being requested is a recommendation for how much data should
> be discarded before the client gives up; possibly a minimum. It feels kind of
> analogous to when we established the minimum URL length that should be
> supported by implementations, so it's not completely off base.
>
> That said, this is truly a corner case; the right answer is "don't do that."
> Anyone depending on interop in this case is doing it wrong to start with.

Though I agree with @annevk: "I think ideally HTTP defines how to parse HTTP." Can the specification language be made more explicit for expected behavior in this situation?

Thanks for your consideration!

Now that #145 is done, [Associating a Response to a Request](https://httpwg.org/http-core/draft-ietf-httpbis-messaging-latest.html#associating.response.to.request) seems like a natural place to talk about this in a limited fashion (as I outlined above).