Media Type message/http requirements

RFC 9112 Section 10.1 defines Media Type message/http as follows:

> The "message/http" media type can be used to enclose a single HTTP request or response message, provided that it obeys the MIME restrictions for all "message" types regarding line length and encodings. Because of the line length limitations, field values within "message/http" are allowed to use line folding ([obs-fold](https://datatracker.ietf.org/doc/html/rfc9112#line.folding)), as described in [Section 5.2](https://datatracker.ietf.org/doc/html/rfc9112#line.folding), to convey the field value over multiple lines. A recipient of "message/http" data MUST replace any obsolete line folding with one or more SP characters when the message is consumed.

It requires one to obey restrictions defined externally, but does not reference where one can find the details of those restrictions. I think it would be extremely helpful to link to whatever section in whatever RFC it is referring to, so one can follow up on those restrictions and properly understand and implement them.

After searching around a bit, I came up with RFC 2046 which seems to have the definition of the "message" media type in section 5.2. However, I could not find any mention of 'restrictions for all "message" types regarding line length and encodings'.  The preceding RFC 2045 does mention line length limitations in the context of SMTP, quoted-printable and such, but I don't see how those relate to the HTTP spec.

Please clarify in the RFC what exactly this is about, where the rules can be found, and specifically what restrictions apply to the message/http type e.g. when used in an HTTP TRACE response.

,
