Mid-stream error semantics?

## The problem

I have a website that uses HTTP/1.1 chunked transfer-encoding to incrementally show results from asynchronous backend API calls in a streamed HTML response. This response routes through an NGiNX reverse-proxy, a CDN, and then an unknown number of gateways, middleboxes, and inspectors (like antivirus programs) before reaching the requesting user-agent.

Sometimes, a backend API call fails: the server’s connection to it closes unexpectedly, the backend emits an error of its own, or any other of the myriad ways computers and networks attack. By that time, I’ve already sent an HTTP status code and headers, but I _really_ want the ability to tell any consuming clients that the stream encountered an error and the response should now be considered invalid, otherwise:

- An HTTP cache may store the erroneous content and reuse it, showing users the error for longer than they otherwise would
- Search engines will index the erroneous content, since they received no sign they should try again or discard the response as invalid
- HTTP-level tools (debuggers, monitoring, curl, spiders, etc.) will report the response as successful, even though it wasn’t

## Research/prior art

<dl>
<dt>HTTP/0.9, /1.0</dt>
<dd>

No mid-stream error signaling possible, meaning prematurely-terminated responses are indistinguishable from the normal request termination of closing the connection. This limitation presumably informed future requirements on bodies requiring either a `content-length` or `transfer-encoding: chunked` length indicators.

<dt>HTTP/1.1</dt>
<dd><a href="https://httpwg.org/http-core/draft-ietf-httpbis-messaging-latest.html#incomplete.messages">IETF Draft: HTTP/1.1 Messaging §8 Handling Incomplete Messages</a></dd>
  <dd>In theory, HTTP/1.1 provided a way to provide more error information via chunk extensions, but history produced no standard extensions and they were dropped for HTTP/2 and beyond.
  <dd><p>If a chunked response doesn’t terminate with the zero-length end chunk, the client must assume that the response was <i>incomplete</i> — which at the very least, <a href="https://httpwg.org/http-core/draft-ietf-httpbis-cache-latest.html#rfc.section.3.1">means a cache should double-check with the server before reusing the stored incomplete response</a>. There are two ways to emit such an incomplete response:
<ul>
<li>Closing the TCP connection before any zero-length end chunk, which can be hard to convey to the user-agent since <code>connection</code> and associated information are assumed to be hop-by-hop. Additionally, this can have undesirable performance implications when proxying through gateways by tearing down warmed-up persistent connections, and it precludes adding HTTP-level debugging info in trailers, which seem the natural place to include it.
<li>Writing invalid <code>transfer-encoding</code> framing, such as missing or incorrect hex-encoded chunk lengths. Middleboxes also understandably will truncate or attempt to repair such invalid responses, resulting in the user-agent running into the aforementioned problems.
</ul>

<dt>HTTP/2</dt>
  <dd><a href="https://tools.ietf.org/html/rfc7540#section-5.4.2">RFC 7540 §5.4.2 Stream Error Handling</a></dd>
  <dd><p>An HTTP/2 stream can signal an application error by sending a <code>RST_STREAM</code> frame with an error code of <code>0x2 INTERNAL_ERROR</code>… I think.</p></dd>
<dd>
The following subsection §5.4.3. Connection Termination also suggests that premature closing of the TCP stream can signal an error, which is straightforward to translate from HTTP/1.1 but inherits the same issues.

<dt>SPDY</dt>
<dd>

I would love to not have to think about SPDY at all, but many CDNs and similar gateways will transparently downgrade to SPDY for older user-agents. Luckily, SPDY’s semantics more or less map to HTTP/2’s: see [IETF draft: SPDY Protocol §2.4.2. Stream error handling](https://tools.ietf.org/id/draft-mbelshe-httpbis-spdy-00.txt); but [the hex code for `INTERNAL_ERROR` might be `0x6` instead](https://www.chromium.org/spdy/spdy-protocol/spdy-protocol-draft2#TOC-RST_STREAM)

<dt>HTTP/3</dt>
<dd>

[HTTP/3 §8 Error Handling](https://quicwg.org/base-drafts/draft-ietf-quic-http.html#errors) seems to leave exact implementation open for experimentation, which is good overall but makes it harder for me to understand a recommendation for my case. “H3_INTERNAL_ERROR (0x0102)” seems ideal, but the error happening somewhere “in the HTTP stack” makes me wonder if it’s suitable for application-level use?

<dd>Gateways translating from earlier versions of HTTP might reasonably choose to surface the previous signaling methods such as malformed chunks as either “H3_FRAME_ERROR (0x0106)” or “H3_MESSAGE_ERROR (0x010e)” — should either of those be used in that scenario? <a href="https://quicwg.org/base-drafts/draft-ietf-quic-http.html#name-mapping-between-http-2-and-">The mapping between h2/h3 errors</a> seems mostly concerned with mapping transport-level semantics.

<dd>I’m having a hard time understanding how QUIC would convey the same error information as prematurely-closed TCP connections when translating that signal from earlier HTTP versions. It does mention “the QUIC transport could indicate to the application layer that the connection has terminated”, but <i>“could”</i> does not suggest I can rely on that behavior.
</dl>

## So what?

- Persisting mid-stream application errors through various HTTP versions seems like something core HTTP semantics should allow for.

- Guidance on how to signal mid-stream errors is hard to find, and I could only find [guidance on translating those signals from HTTP/2 to HTTP/3](https://quicwg.org/base-drafts/draft-ietf-quic-http.html#name-mapping-between-http-2-and-). This is exacerbated by reverse proxies usually not bothering with supporting upstream connections higher than HTTP/1.1.

- Existing methods to signal mid-stream errors can easily cause performance problems or unexpected behavior when attempting to convey them all the way to the requester.

- While it’s theoretically possible to propagate 1 bit of error information (“is this response bad and shouldn’t be reused?”), other HTTP-level error data, such as `retry-after`, seem valuable to reuse.

This is out of scope for the HTTP core effort -- it would be considered a new feature.

However, see [this draft](https://mnot.github.io/I-D/cache-trailers/) and [resulting list discussion](https://lists.w3.org/Archives/Public/ietf-http-wg/2021JanMar/thread.html#msg89). After a [discussion at our last interim](https://httpwg.org/wg-materials/interim-21-06/minutes.html#cache-trailers), it seems like there's interest in discussing this general area (not only for caching, but also other purposes, potentially), but it still needs "time to bake."

Probably the best way to move things forward is to participate in discussion on-list. Having more use cases fleshed out beyond caching will help to scope the work. 

Regarding HTTP/3, the concerns and solutions were discussed in https://github.com/quicwg/base-drafts/issues/3300.

Gotcha. I’ll probably post on the mailing list once I collect my thoughts with a more complete proposal, but for the moment I really want to know what I *should* do in an CTE stream to tell requesters that the response should be considered questionably-cacheable/damaged/non-authoritative/other stuff that 5XX errors get by default.