Lars Eggert COMMENT draft-ietf-httpbis-messaging-16

- [x] Section 9.1. , paragraph 2, comment:
>    protocols.  Each connection applies to only one transport link.

I'm not sure I understand what is meant by "transport link" and how connections
would "apply" to one.

Editors: https://github.com/httpwg/http-core/pull/891

-------------------------------------------------------------------------------
- [x] Section 9.4. , paragraph 4, comment:
>    consumes server resources.  Furthermore, using multiple connections
>    can cause undesirable side effects in congested networks.

Using larger number of multiple connections can even cause side effects in
otherwise uncongested networks, because their aggregate and initially
synchronized sending behavior can *cause* congestion that would not have been
present if fewer parallel connections had been used.

Editors: https://github.com/httpwg/http-core/pull/891

-------------------------------------------------------------------------------
- [x] Section 13.1. , paragraph 14, comment:
>    [Welch]    Welch, T. A., "A Technique for High-Performance Data
>               Compression", IEEE Computer 17(6), June 1984.

This can become an informative reference, so to not create a DOWNREF, since it's
only used in the description of an IANA codepoint.

Editors: https://github.com/httpwg/http-core/issues/852#issuecomment-858566800

-------------------------------------------------------------------------------
- [X] Section 13.2. , paragraph 12, comment:
>    [RFC7230]  Fielding, R., Ed. and J. F. Reschke, Ed., "Hypertext
>               Transfer Protocol (HTTP/1.1): Message Syntax and Routing",
>               RFC 7230, DOI 10.17487/RFC7230, June 2014,
>               <https://www.rfc-editor.org/info/rfc7230>.

I think it is common practice to normatively cite an RFC that is being
obsoleted.

Editors: https://github.com/httpwg/http-core/issues/852#issuecomment-858567716

-------------------------------------------------------------------------------
All comments below are about very minor potential issues that you may choose to
address in some way - or ignore - as you see fit. Some were flagged by
automated tools (via https://github.com/larseggert/ietf-reviewtool), so there
will likely be some false positives. There is no need to let me know what you
did with these suggestions.

-------------------------------------------------------------------------------
- [X] Section 9.3. , paragraph 3, nit:
~~~
-    Connection header field (Section 7.6.1 of [Semantics]), if any:
+    based on the protocol version and Connection header field in the
~~~

This got garbled, the suggestion was to rephrase to:

   A recipient determines whether a connection is persistent or not
   based on the protocol version and Connection header field in the
   most recently received message (Section 7.6.1 of [Semantics]), if
   any:

Editors: https://github.com/httpwg/http-core/commit/f2ed687f1b9c05c8e7fae5210207fe00da34822d

-------------------------------------------------------------------------------
- [X] Section 11.2. , paragraph 2, nit:
~~~
-    Request smuggling ([Linhart]) is a technique that exploits
-                      -         -
+    Request smuggling [Linhart] is a technique that exploits
~~~

- [X] Section 12.3. , paragraph 3, nit:
~~~
-    |            | ([RFC1951]) inside the "zlib" | 7.2       |
-                   -         -
-    |            | data format ([RFC1950])       |           |
-                               -         ^
+    |            | [RFC1951] inside the "zlib"   | 7.2       |
+                                               ++
+    |            | data format [RFC1950]         |           |
+                                        ^^
~~~

Editors: this is intentional. Leave it to the RFC Editor?

-------------------------------------------------------------------------------
- [X] Section 7.1.1. , paragraph 6, nit:
> to accept in the response, and whether or not the client is willing to prese
>                                ^^^^^^^^^^^^^^
Consider shortening this phrase to just "whether". It is correct though if you
mean "regardless of whether".

Editors: https://github.com/httpwg/http-core/commit/dcfaa9c828ae6476a6e0553348ae4344d8539f1a


-------------------------------------------------------------------------------
- [x] Section 9.5. , paragraph 2, nit:
> tack has received the client's acknowledgement of the packet(s) containing th
>                                ^^^^^^^^^^^^^^^
Do not mix variants of the same word ("acknowledgement" and "acknowledgment")
within a single text.

Editors: https://github.com/httpwg/http-core/pull/853/commits/2b302fe16d9c74c14961d7d80f39f7b0e3b56994 

-------------------------------------------------------------------------------
- [x] Section 9.8. , paragraph 2, nit:
> onse Splitting Response splitting (a.k.a, CRLF injection) is a common techni
>                                    ^^^^^
The abbreviation is missing a period after the last letter.

Editors: https://github.com/httpwg/http-core/pull/853/commits/eefe08519b5c3bba1d896c2f29b64f0e16c40214 

-------------------------------------------------------------------------------
- [X] Section 10.2. , paragraph 17, nit:
>  such that it can be used over many different forms of encrypted connection,
>                                ^^^^^^^^^^^^^^
Consider using "many".

Editors: this is in 11.4. https://github.com/httpwg/http-core/commit/b29195897303a8599453d3fc9b0aa892f8044567

-------------------------------------------------------------------------------
- [x] "Appendix B. ", paragraph 2, nit:
>  (which indicate that the client ought stop sending the header field), and t
>                                  ^^^^^^^^^^
Did you mean "ought to stop"?

Editors: https://github.com/httpwg/http-core/pull/853/commits/35a6bb56b56f1b6d0e601b08576f72eb730ebba9

-------------------------------------------------------------------------------
- [x] "B.3. ", paragraph 2, nit:
> ferring to RFC 723x. * Remove acknowledgements specific to RFC 723x. * Move
>                               ^^^^^^^^^^^^^^^^
Do not mix variants of the same word ("acknowledgement" and "acknowledgment")
within a single text.

- [x] "B.4. ", paragraph 1, nit:
> pecific to RFC 723x. * Move "Acknowledgements" to the very end and make them
>                              ^^^^^^^^^^^^^^^^
Do not mix variants of the same word ("acknowledgement" and "acknowledgment")
within a single text.

Editors: https://github.com/httpwg/http-core/pull/853/commits/2b302fe16d9c74c14961d7d80f39f7b0e3b56994

-------------------------------------------------------------------------------
- [x] "C.2.2. ", paragraph 4, nit:
> ction 12.4, update the APLN protocol id for HTTP/1.1 (<https://github.com/ht
>                                      ^^
This abbreviation for "identification" is spelled all-uppercase.

Editors: https://github.com/httpwg/http-core/pull/853/commits/4813849f91b14d0f1d5a2f4e7d8d7783333b1b4a

-------------------------------------------------------------------------------
- [x] Uncited references: [RFC7231].

Editors: https://github.com/httpwg/http-core/pull/853/commits/2c78955a4fbd6aea281ca2655986db8b544a3af3

-------------------------------------------------------------------------------
- [x] Obsolete reference to RFC2068, obsoleted by RFC2616 (this may be on purpose).

Editors: this is indeed intended, as we're citing something that is in 2068 but not 2616

-------------------------------------------------------------------------------
- [x] These URLs point to tools.ietf.org, which is being deprecated:
 * https://tools.ietf.org/html/draft-ietf-httpbis-semantics-16
 * https://tools.ietf.org/html/draft-ietf-httpbis-cache-16

Editors: these are added by xml2rfc; you may want to open a ticket for that tool :-)

-------------------------------------------------------------------------------
- [x] These URLs in the document can probably be converted to HTTPS:
 * http://packetstormsecurity.com/papers/general/whitepaper_httpresponse.pdf

Editors: https://github.com/httpwg/http-core/pull/853/commits/681cf74433e6ced4702e67832d9f522f0fcc2740


> Section 13.1. , paragraph 14, comment:
> 
>     [Welch] Welch, T. A., "A Technique for High-Performance Data
>     Compression", IEEE Computer 17(6), June 1984.
> 
> This can become an informative reference, so to not create a DOWNREF, since it's
> only used in the description of an IANA codepoint.

It is used normatively for the definition of the "compress" coding. (also, this is no change from RFC 723x).

> Section 13.2. , paragraph 12, comment:
> 
>     [RFC7230] Fielding, R., Ed. and J. F. Reschke, Ed., "Hypertext
>     Transfer Protocol (HTTP/1.1): Message Syntax and Routing",
>     RFC 7230, DOI 10.17487/RFC7230, June 2014,
>     https://www.rfc-editor.org/info/rfc7230.
> 
> I think it is common practice to normatively cite an RFC that is being
> obsoleted.

Sorry? We are obsoleting that spec, thus we will *not* have a normative dependency on it.

> I'm not sure I understand what is meant by "transport link" and how connections
would "apply" to one.

Suggest:

> Each HTTP connection maps to one underlying transport connection.

> Using larger number of multiple connections can even cause side effects in
otherwise uncongested networks, because their aggregate and initially
synchronized sending behavior can cause congestion that would not have been
present if fewer parallel connections had been used.

With some light editing, I think this would be useful to add.