caching (POST) requests with bodies

When a cache decides to cache a POST (not as GETtable result of a POST), does it need to include the request body into the cache key?

See discussion thread starting at https://lists.w3.org/Archives/Public/ietf-http-wg/2016JulSep/0236.html.

(The answer would apply to other safe methods like PROPFIND as well)


The cache key, as it were, is defined in [Constructing Responses from Caches](https://httpwg.org/http-core/draft-ietf-httpbis-cache-latest.html#constructing.responses.from.caches).

There, the second bullet is "the request method associated with the stored response allows it to be used for the presented request". That's the *stored* request method, however.

So, the stored request method has to allow it to be used for the presented request; POST does that by outlining how it's used for subsequent GETs.

Likewise, if you look at [GET](https://httpwg.org/http-core/draft-ietf-httpbis-semantics-latest.html#GET), you can see similar language: "a cache may use it to satisfy subsequent HEAD requests unless otherwise indicated..."

So indeed it does not define response caching in a way that can be used by a later PROPFIND2; to do so, you'd need to update the definition of POST.

Back to the original questions -- the reason why POST doesn't define whether the POST body is part of the cache key is that it doesn't use the cache on a subsequent POST, so it doesn't matter; there's nothing to compare it to. 

If a future method wants to define how its stored responses can be reused, it can do so (and it can include the request body in that calculation); however, if it wants to change the behaviour of an existing method when presented in a request and there's a stored response with the new method, it needs to update that existing method's definition.

We still have confusion in the definition of POST, citing the paragraph about cacheability once again:

> Responses to POST requests are only cacheable when they include explicit freshness information (see Section 4.2.1 of [RFC7234]). However, POST caching is not widely implemented. For cases where an origin server wishes the client to be able to cache the result of a POST in a way that can be reused by a later GET, the origin server MAY send a 200 (OK) response containing the result and a Content-Location header field that has the same value as the POST's effective request URI (Section 3.1.4.2).

To me this clearly says that POST requests are cacheable under certain conditions; it just warns that it isn't implemented widely. 

If these are cacheable (not to GET-after-POST) variant, we should say how. Or we need to rephrase this section.

Request cacheability does not imply that they can be reused for the same method; it means that they can be stored in the cache, as per [the spec](https://httpwg.org/specs/rfc7234.html#response.cacheability). 

If you can suggest a way to clarify it so others don't make the same mistake, that would be welcome.

Works for me.