Robert Wilton COMMENT draft-ietf-httpbis-semantics-16

Robert Wilton has entered the following ballot position for
draft-ietf-httpbis-semantics-16: No Objection

When responding, please keep the subject line intact and reply to all
email addresses included in the To and CC lines. (Feel free to cut this
introductory paragraph, however.)


Please refer to https://www.ietf.org/iesg/statement/discuss-criteria.html
for more information about DISCUSS and COMMENT positions.


The document, along with other ballot positions, can be found here:
https://datatracker.ietf.org/doc/draft-ietf-httpbis-semantics/



COMMENT:

Apologies but I have not been able to fully review the entire draft!

However, I would like to thank the authors and WG on the time and effort they
have put into updating the HTTP specs which will make it much easier for HTTP
implementers to check that they are up to date with the spec.

In my light reading of the doc, I did notice a few minor nits, which I will
leave to the authors/WG to decide whether they wish to address:

 - [x]    2.5.  Protocol Version

   HTTP's major version number is incremented when an incompatible
   message syntax is introduced.  The minor number is incremented when
   changes made to the protocol have the effect of adding to the message
   semantics or implying additional capabilities of the sender.

It is perhaps fairly obvious, but do you want to say that
the minor version number is reset to 0 when the major version number is
incremented?

Editors: yes, that's the usual way of handling major/minor version numbers. I don't we need to say that here.

 - [x] 4.2.3.  http(s) Normalization and Comparison

   Two HTTP URIs that are equivalent after normalization (using any
   method) can be assumed to identify the same resource, and any HTTP
   component MAY perform normalization.  As a result, distinct resources
   SHOULD NOT be identified by HTTP URIs that are equivalent after
   normalization (using any method defined in Section 6.2 of [RFC3986]).

With the text in this section (4.2.3), I found it a bit unclear as to whether
this normative text included the additional rules that were listed after it. 
My assumption is that they must, but I wasn't sure that the text was that clear
on this point.

Editors: https://github.com/httpwg/http-core/commit/9635be2ee29922d24b4400a83f753a7cb9c4dfe4

 - [x] 9.2.1.  Safe Methods

    "crash the server"

Flagging in case you want to express this differently (e.g., cause the server
to fail)

Editors: https://github.com/httpwg/http-core/commit/5e80bccae69182b60a4c00cf5a3ec7830ceb2489

 - [x] 9.2.3.  Methods and Caching

   This specification defines caching semantics for GET, HEAD, and POST,
   although the overwhelming majority of cache implementations only
   support GET and HEAD.

It is somewhat ambiguous as to which specification is being referred to by
"This".  Is it the semantics draft of the caching draft?

Editors: "this" really refers to this spec, not the caching spec. I don't think a change is needed here.