http(s) URI normalization

In "http and https URI Normalization and Comparison" we currently say:

> Since the "http" and "https" schemes conform to the URI generic syntax, such URIs are normalized and compared according to the algorithm defined in Section 6 of [RFC3986], using the defaults described above for each scheme.

This does not seem to include normalization of those sub-delims in components where they do not have a special role, such as "&" in a path segment.

Should we say something about this topic? Allowed? Encouraged?

Context: <https://issues.apache.org/jira/browse/HTTPCLIENT-1995>

FWIW in Squid we un-escape the URL segments, then re-escape only the required characters of each segment when assembling into the absolute-URI form for comparisions and outputs.

This has not been strictly consistent in all Squid versions, but each deviation from that is being treated as a bug to fix.

Ok, re-read https://issues.apache.org/jira/browse/HTTPCLIENT-1995 ...

So this is about

https://greenbytes.de/tech/webdav/draft-ietf-httpbis-semantics-latest.html#uri.comparison

and

https://www.greenbytes.de/tech/webdav/rfc3986.html#normalize-encoding

The original question was: are HTTP(S) URIs equivalent if "&" in a *path segment* as "%26"?

We *could* address this by defining this for HTTP(s). OTOH, this might be something for 3986bis...

@royfielding 

They are not equivalent for URI (& is reserved) and the result is application-dependent (i.e., there's no right answer here).

Do we have a recommendation for applications that compare HTTP URIs?

RFC3986:

```
   The purpose of reserved characters is to provide a set of delimiting
   characters that are distinguishable from other data within a URI.
   URIs that differ in the replacement of a reserved character with its
   corresponding percent-encoded octet are not equivalent.  Percent-
   encoding a reserved character, or decoding a percent-encoded octet
   that corresponds to a reserved character, will change how the URI is
   interpreted by most applications.  Thus, characters in the reserved
   set are protected from normalization and are therefore safe to be
   used by scheme-specific and producer-specific algorithms for
   delimiting data subcomponents within a URI.
```

Note that this regardless to which component they appear within.

So, going back to https://issues.apache.org/jira/browse/HTTPCLIENT-1995, would you say that this is indeed a bug in Apache HTTPClient?