SEMANTICS uses named references inconsistently

HTTP3 is a named reference, but the other HTTP RFCs are referenced only by RFC number.  That makes some sense for the older HTTP RFCs which are being obsoleted by this document, but I'd expect at least H2 and H3 to have parity.

I happen to agree, and that's the plan once the RFC # is assigned.

Re-opening so we can track it once we know HTTP3's RFC number (likely not before AUTH48).

I vaguely recall including a note to the RFC editor for that purpose, like in

   https://tools.ietf.org/id/draft-ietf-ipr-submission-rights-08.txt

> This memo updates RFC 2026, and, with RFC XXXY, replaces Section 10 of RFC 2026. [note to RFC editor: replace XXXY with number of IETF IPR]

FWIW, we should also discuss whether we stick with the anchor names for the core specs, or whether we switch them to RFCxxxx.

(I really don't care that much, but maybe we shouldn't discuss this during AUTH48)

Personally, I like the anchor names, provided they give readers more mental context for what they're being referred to.  Obviously it doesn't matter for things like "TLS 1.3 ([TLS])", but are more useful in things like "esoteric concept; see Section foobar of [BAZ]."