Zaheduzzaman Sarker COMMENT draft-ietf-httpbis-semantics-16

Zaheduzzaman Sarker has entered the following ballot position for
draft-ietf-httpbis-semantics-16: No Objection

When responding, please keep the subject line intact and reply to all
email addresses included in the To and CC lines. (Feel free to cut this
introductory paragraph, however.)


Please refer to https://www.ietf.org/iesg/statement/discuss-criteria.html
for more information about DISCUSS and COMMENT positions.


The document, along with other ballot positions, can be found here:
https://datatracker.ietf.org/doc/draft-ietf-httpbis-semantics/



COMMENT:

Big thanks to editors and contributors of the this document.

I found this document to be very well written with right level of description
which surely makes the developer's life a bit easier, specially having all the
important considerations and recommendations in one place.

I have following observations -

- [x] * Server push is mentioned in section 1.2. I was expecting some descriptions in
this document on how the server push is realized specially using the methods
defined in this document.

Editors: https://github.com/httpwg/http-core/issues/873#issuecomment-867626892

- [x] * Section 4.2.2:  it says-

> The origin server for an "https" URI is identified by the authority component, which includes a host identifier and optional port number ([RFC3986], Section 3.2.2).  If the port subcomponent is empty or not given, TCP port 443 (the reserved port for HTTP over TLS) is the default.  "

how does this default work with HTTP/3 which used UDP port 443?

Editors: https://github.com/httpwg/http-core/issues/873#issuecomment-872751979

- [x] * It felt like security consideration section missing considerations for the
TRACE method.  The section 9.3.8 says - "A client MUST NOT generate fields in a
TRACE request containing sensitive data" , I am just wondering is that good
enough warning.

Editors: https://github.com/httpwg/http-core/issues/873#issuecomment-867632151

- [x] * I support Roman's comment about the strength of the recommendation based on
the use of the verb “ought”. This might be a bit more confusing to the readers
with non-native English language background. I would suggest to use more
recommend or should or must in the entire document instead of "ought to".

Editors: https://github.com/httpwg/http-core/issues/873#issuecomment-867645789

- [x] * Lars provided very good input on editorial fixes/nits, I would skip mine and
hope his will be addressed by the editors.





> * Server push is mentioned in section 1.2. I was expecting some descriptions in
this document on how the server push is realized specially using the methods
defined in this document.

Server Push is not defined in this document. I see your point that if it's not specific to a certain version of HTTP (and it's not because of H3), it should be here. On the other hand, there have been attempts to deprecate this feature in H2, so moving it here might be a bad idea right now.

> It felt like security consideration section missing considerations for the
TRACE method. The section 9.3.8 says - "A client MUST NOT generate fields in a
TRACE request containing sensitive data" , I am just wondering is that good
enough warning.

Well, MUST NOT is not warning, it's a strong requirement (paired with an explanation). Not sure what else you're looking for...

> I support Roman's comment about the strength of the recommendation based on
the use of the verb “ought”. This might be a bit more confusing to the readers
with non-native English language background. I would suggest to use more
recommend or should or must in the entire document instead of "ought to".

In most cases, text like this originates from RFC723x (at which time [RFC8174] did not exist yet). We are reluctant to rephase existing spec text just for the sake of it. We are currently not aware of any misunderstandings based on that language choice.

> Server Push is not defined in this document. I see your point that if it's not specific to a certain version of HTTP (and it's not because of H3), it should be here. On the other hand, there have been attempts to deprecate this feature in H2, so moving it here might be a bad idea right now.

As an aside, push still uses a request/response as described in this spec.  It's simply that the server is sending the client both the request and the response.  So this document is still applicable to the request and response which are exchanged; only the direction is different.

> how does this default work with HTTP/3 which used UDP port 443?

We're talking about identification, not actually operating the protocol. If someone mints a HTTPS URI, it identifies the service running on a particular port on a particular hostname, and it defaults to TCP because we haven't deprecated TCP-based HTTP; the underlying transport actually used to interact with that server is negotiated at runtime.

Can this issue be closed?

I believe so.