Éric Vyncke's COMMENT draft-ietf-httpbis-semantics-16

Éric Vyncke has entered the following ballot position for
draft-ietf-httpbis-semantics-16: No Objection

When responding, please keep the subject line intact and reply to all
email addresses included in the To and CC lines. (Feel free to cut this
introductory paragraph, however.)


Please refer to https://www.ietf.org/iesg/statement/discuss-criteria.html
for more information about DISCUSS and COMMENT positions.


The document, along with other ballot positions, can be found here:
https://datatracker.ietf.org/doc/draft-ietf-httpbis-semantics/



COMMENT:

Thank you for the work put into this document.

Martin Duke wrote a nice sentence that fits my experience with this document:
"As someone who has learned HTTP via osmosis, it was very helpful to finally
read it all collected in one place".

Please find below some non-blocking COMMENT points (but replies would be
appreciated), and some nits.

I hope that this helps to improve the document,

Regards,

-éric

== COMMENTS ==

- [x] Is there any reason why the 'Forwarded' header (RFC 7239) is not listed ?

Editors: https://github.com/httpwg/http-core/issues/859#issuecomment-861180123

- [x] -- Section 3.3 --
"As a result, a server MUST NOT assume that two requests ..." unsure about the
use of "as a result" as this paragraph is not really a conclusion of the
previous §. Suggest to remove "As a result".

Editors: https://github.com/httpwg/http-core/issues/859#issuecomment-861180926

- [x] -- Section 3.9 --
Strongly suggest to update the example by avoiding OpenSSL/0.9.71 as its TLS
version is probably insecure (or even historic) 

Editors: https://github.com/httpwg/http-core/commit/6fcdf6a06f0c866dccf026d72a9650fceeb05590

- [x] -- Section 4.3.3 --
2nd and 3rd § differ as it seems that only H/2 and H/3 accept cert with several
entries. AFAIK, H/1 also accepts several subject names in on cert.

Editors: https://github.com/httpwg/http-core/issues/859#issuecomment-875277111

- [x] 3rd § I am afraid that the meaning of the text about DNS query has completely
escaped me 

Editors: https://github.com/httpwg/http-core/issues/859#issuecomment-875278743

- [x] -- Section 4.3.4 --
Should there be a reference to "CN-ID" ?

- [x] -- Section 4.3.5 --
I quickly read the relevant sections of RFC 3986 and RFC 5280 but I cannot find
the information on whether 1/ IPv6 link-local 2/ IPv6 ULA addresses are valid
and how to verify them. Should there some text in this section ?

Editors: https://github.com/httpwg/http-core/issues/859#issuecomment-861182638

== NITS ==

- [x] -- Section 7.2 --
References to H/2 and H/3 have previously be given, no need to repeat ?

Editors: where's the harm? It actually might be good to make those references more specific.

> Should there be a reference to "CN-ID" ?

That seems like a "no", to me, given draft-ietf-uta-use-san and the discussions we had on quic-http (which was changed to just reference this document and not duplicate its content on authenticating HTTP origins)

@kaduk is right, we deliberately removed that from the specification.  In the time since RFC 6125, CN-ID is no longer recognized.

> Is there any reason why the 'Forwarded' header (RFC 7239) is not listed ?

We're not folding RFC7239 into this specification; it is, however, in the registry.

> "As a result, a server MUST NOT assume that two requests ..." unsure about the
use of "as a result" as this paragraph is not really a conclusion of the
previous §. Suggest to remove "As a result".

The previous paragraph was about statelessness; this is a consequence of that.

> I quickly read the relevant sections of RFC 3986 and RFC 5280 but I cannot find
the information on whether 1/ IPv6 link-local 2/ IPv6 ULA addresses are valid
and how to verify them. Should there some text in this section ?

I think that would need to be an update of 3986.

I don't think that this depends on RFC 3986 changes.  However, from the perspective of a client, the type of address doesn't matter.  It doesn't need to know what the type of address is.  No CA should issue certificates for an address that isn't uniquely owned.  (In this way, IPv6 isn't special, IPv4 has special addresses too.)  That doesn't mean that the client can't have its own rules, but the specification doesn't need to codify any.

Ah, correct - I crossed wires with the discussion of zone identifiers in the WHATWG URL spec.

> 2nd and 3rd § differ as it seems that only H/2 and H/3 accept cert with several
entries. AFAIK, H/1 also accepts several subject names in on cert.

The difference here is that if a HTTP/1 client has a connection open to hostname A, and the certificate for that connection lists host A and host B, the client will still open a new connection if it wants to make a request for host B. 


> 3rd § I am afraid that the meaning of the text about DNS query has completely
escaped me

It might be useful to reference [this](https://httpwg.org/http2-spec/draft-ietf-httpbis-http2bis.html#name-connection-reuse).

> 
> 
> > 3rd § I am afraid that the meaning of the text about DNS query has completely
> > escaped me
> 
> It might be useful to reference [this](https://httpwg.org/http2-spec/draft-ietf-httpbis-http2bis.html#name-connection-reuse).

Well, that would block us. Can we re RFC 7540 instead?

> Well, that would block us. Can we re RFC 7540 instead?

I don't think we need to change this text or reference anything else here. The DNS comment is just stating how this is handled in deployed practice for those protocols, not necessarily how it is defined within those specs. Yes, it isn't ideal to talk about protocols in the abstract, but this is for the sake of understanding the shared semantics (not how to implement those specific protocols).

> -- Section 4.3.5 --
> I quickly read the relevant sections of RFC 3986 and RFC 5280 but I cannot find the information on whether 1/ IPv6 link-local 2/ IPv6 ULA addresses are valid and how to verify them. Should there some text in this section ?

RFC3986 was updated by RFC6874, so that would be inherited by reference. I wouldn't reference RFC6874 unless we have a separate instruction for link-local addresses. I don't know about IPv6 ULA. The real question is whether such addresses differ in their usage during certificate verification?